# Godot 4+ specific ignores
.godot/
/android/build/.gradle/
/android/build/assets/
/android/build/build/
/android/build/libs/
Exports/

# SMB1R specific ignores
/mods
/mods-unpacked
Assets/LevelGuides
addons/discord-rpc-gd/bin/windows/~discord_game_sdk_binding_debug.dll
godotgif/bin/~godotgif.windows.template_debug.x86_64.dll
